.auth {
    margin-top: 5%;
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 15px;
}

.auth-left{
    margin-top: 4%;
    color: #fff;
}

.auth-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}

.btn-register{
    background: #0062cc;
    color: #fff;
    border-radius: 15px;
}

.btn-register:hover{
    background: #fff;
    color: #0062cc;
    border: 1px solid #0062cc
}

.tab-auth{
    background: #fff;
    color: #0062cc;
    border-radius: 15px;
    width: 50%;
    margin: auto;
}

.tab-auth div:hover{
    cursor: pointer;
}

.active-auth{
    background: #0062cc;
    border-radius: 15px;
    color: #fff;
    padding: 5px;
}

.invalid-input{
    border : 1px solid red
}