.discount{
    background-color: red;
    width: 20%;
    text-align: center;
    color: white;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 20px;
}

img {
    cursor: pointer;
}