.pagination {
    font-weight: bolder
}

.pagination:hover{
    text-decoration: underline;
    cursor: pointer;
}

.admin-tab {
    background-color: #3F51B5;
    color: white;
    width: 80%;
    margin: auto;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 13px;
    font-weight: 500;
    z-index: 99;
    position: relative;
    cursor: pointer;
}

.admin-tab-menu {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 13px;
    transition: background 0.5s
}

.admin-tab-selected {
    background-position: center;
    background: #334090;
    transition: background 0.5s;
    /* padding: 7px; */
}

.admin-tab-selected:active{
    background-color: #594feb67;
    background-size: 100%;
    transition: background 0s;
}

.admin-tab-menu:hover{
    background-color: #334090;
    background-size: 100%;
    transition: background 0.8s;
}

.admin-content {
    margin-top: -35px;
    z-index: -9;
}

.sultan-card {
    
}